.header{
    padding: 2rem;
    text-align: center;
   margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: lightcoral;
}



.wrapper{
    
    background-image: url(img/bg-img.jpg);
    min-height: 30rem;
    width: 80rem;
    margin: auto;
    border-radius: 5rem;
}

.input-div{
    display: flex;
    flex-direction: column;
}

.input{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem auto 0.5rem auto;
    outline: none;
    border-radius: 1.5rem;
    color: black;
    background-color: white;
}

.btn-calc{
    width: 6rem;
    height: 6rem;
    margin: 0.5rem auto 1rem auto;
    border-radius: 50%;
    border: none;
    color: lightcoral;
}

.btn-calc:hover{
    color: white;
    font-weight: bolder;
    cursor: pointer;
    background-color:lightcoral ;
}

.res{
    text-align: center;
    color: lightcoral;
    font-weight: bolder;
    font-size: 2rem;
}
