.header{
    padding: 2rem;
    text-align: center;
   margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.wrapper{
    
    background-image: url(img/bg-img.jpg);
    min-height: 30rem;
    width: 80rem;
    margin: auto;
}

.input-div{
    display: flex;
    flex-direction: column;
}

.input{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem auto 0.5rem auto;
    outline: none;
}

.btn-calc{
    width: 8rem;
    height: 2rem;
    margin: 0.5rem auto 1rem auto;
}

.btn-calc:hover{
    color: lightcoral;
    font-weight: bolder;
}

.res{
    text-align: center;
    color: white;
}
